<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <a href="#featur" class="skip-link">Skip To Content</a>
    <div class="header">
        <header>

            <h1>DRestaureant</h1>

            <nav id="menu" role="navigation">
                <ul>

                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="http://github.com/Rickkun11/">About Us</a></li>
                </ul>
            </nav>

            <button class="menu-link">
                <a class="icon"></a>
            </button>

        </header>
    </div>
    <section class="headline"
        style="background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('./images/heros/hero-image_2.jpg')">
        <h1>DRestaureant History Of 5 Ratings Restaurant In The world</h1>
        <p>Show More in bellow on page</p>
    </section>

    <!--Data JSON-->
    <section class="features" id="featur"></section>
    <section class="headline"
        style="background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('./images/heros/hero-image_4.jpg')">
        <h1>Warung In Indonesia Top 5 in this year</h1>
        <p>Show More in bellow on page</p>
    </section>

    <section class="features" id="featur2"></section>

    <footer>
        <ul>
            <li><a href="#">Copyright © 2022 - Restaureant Apps</a></li>
        </ul>
    </footer>
</body>

</html>