<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="DRestaureant is restaurant catalog app." />
  <title>DRestaureant</title>
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
</head>

<body>
  <a href="#/main-content" class="skip-link">SKIP MENUJU KONTEN</a>
  <app-bar></app-bar>

  <!--data restaurant dicoding-->
  <main id="content"></main>
  <footer>
      <a>&copy; Copyright 2022 &dash; Rickkun11</a>
  </footer>
</body>

</html>