p
    letter-spacing: 1px

    img
        display: flexbox
        flex-direction: row
        padding: 3px 10px
        border-radius: 3px
        border: 2px solid #5a3410

    img
        display: flexbox
        flex-direction: row
        padding: 3px 10px
        border-radius: 3px
        border: 2px solid #5a3410

nav
    display: flexbox
    a:link
        display: flexbox
        justify-content: flex-end
        text-decoration: none
