nav
    display: flexbox
    justify-content: space-between
    align-items: center
    overflow: hidden
    background-color: #333
    position: fixed
    top: 0
    width: 100%

    ul
        display: flex
        align-items: center

    ul li
        list-style: none
        margin-left: 20px

        &:last-child
            margin-right: 0px

main
    display: flexbox
